.top-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width:310px;
  padding: 15px;
}

.result-container {
  float:flex;
  background-color: rgb(214, 247, 30);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width:90%;
  height:100px;
  margin:10px;
  
}

.result-field {
  float:left;
  width:80%;
  overflow: hidden;
  white-space : nowrap;
}

.result-container  h2 {
   margin:5px;
   padding: 5px;
     
}

.btn-clear {
  float:right;
  text-align: center;
  background-color: red;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin:10px;
  width: 20px;
  height:20px;
  z-index: 1;
  
}

.btn-clear:hover{
  background-color: white;
  color:red;
  cursor: pointer;
}




.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  border-radius: 5px;
  width:100%;
  padding: 5px;
}


.grid-item {
  background-color: #219888;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}



.grid-item:hover {

  background-color:rgb(214, 247, 30);

}


.upper-left-corner {
  border-top-left-radius: 5px;
}

.upper-right-corner {
  border-top-right-radius: 5px;
}

.lower-left-corner {
  border-bottom-left-radius: 5px;
}

.lower-right-corner {
  border-bottom-right-radius: 5px;
}